@import './variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root > div > div.Testimonial_wrapper__faB4j > div > div.Testimonial_wrapper__testimonial__card__uQJRj > div:nth-child(1) > div > div{
    justify-content: center;
}
