@import "../../styles/variable.scss";

.footer {
  max-width: 1400px;
  margin-inline: auto;
  padding: 4rem;
  //   display: grid;
  //   grid-template-columns: repeat(4, 25%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  place-items: start center;
  gap: 2rem;
  font-size: 18px;

//   @media (max-width: 960px) {
//     grid-template-columns: repeat(2, 50%);
//     place-items: start;
//     padding: 2rem;
//   }

//   @include breakpoint(sm) {
//     grid-template-columns: repeat(1, 100%);
//   }

  &__first {
    width: 25%;

    p {
        color: gray;
    }
    
    @include breakpoint(md) {
        width: 50%;
    }
    @include breakpoint(sm) {
        width: unset;
    }
    &__logo {
      font-size: 42px;
      margin-bottom: 2rem;

      span:last-child {
        color: $darkBlue;
      }
    }
  }

  &__second {
    // width: 20%;
    h1 {
      margin-bottom: 2rem;
    }
    &__links {
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        text-decoration: none;
        color: gray;
        font-size: 18px;
      }
    }
  }
  &__third {
    width: 25%;

    p {
        color: gray;
    }
h1 {
    margin-bottom: 2rem;
}
    @include breakpoint(md) {
        width: 50%;
    }
    @include breakpoint(sm) {
        width: unset;
    }
  }
}
